*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{
  font-size: 62.5%;
}

body{
  display: flex;
}

main{
  margin-left: 10rem;
  min-height: 50vh;
  max-width: 50vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.timer{
  font-size: 12.6rem;
  line-height: 14.8rem;
  display: flex;
}

.controls{
  font-size: clamp(4rem , 8.8rem + 10vw , 8.8rem);
  display: flex;
  gap: 4rem;
}

button{
  border-radius: 2.4rem;
  border: none;
  background: none;
  cursor: pointer;
}

footer{
  margin: 24rem 22rem 19rem 20rem;
  max-width: 50vw;
  max-height: 50vh;
}

.cards{
  display: grid;
  grid-template-areas: "A B"
  "C D";
  justify-content: center;
}

.cards button{
  margin: 0 3.2rem 3.2rem 0rem;
}

footer .ativo path:first-child{
  fill: #02799D;
}

footer .ativo path:last-child{
  fill: white;
}
